.shiny-text-output {
  color: #a9aaab;
  font-size: x-large;
text-align: center;
font-weight: bold; 
}

#drug_header, #death_header, #presrate_header {
  color: white;
  font-size: xx-large;
text-align: center;
font-weight: bold;
}

.paginate_button {
  color: white;
}

tr, select {
	color: black
}

th, label {
	color: white
}

html, body {
	height: 100%
}

p {
  color: white;
}

a {
  color: rgb(0, 214, 255);
}