#drug_header {
  color: white;
  font-size: x-large;
text-align: center;
font-weight: bold;
}

.paginate_button {
  color: white;
}

tr, select {
	color: black
}

th, label {
	color: white
}

html, body {
	height: 100%
}